.pokemonCard {
    overflow: hidden; 
    position: relative; 
    border-radius: 0.75rem; 
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms; 
    transition-duration: 300ms; 
    cursor: pointer; 
}

.pokemonCard:hover {
    transform: scaleX(1.05) scaleY(1.05);
    /* border: solid 1.5px rgb(2, 255, 255); */
 }

 .pokemonImageContainer {
    display: flex; 
    position: relative; 
    padding: 1rem; 
    justify-content: center; 
    align-items: center; 
 }

 .pokemonImage {
    object-fit: contain; 
    position: relative; 
    z-index: 10; 
    width: 6rem; 
    height: 6rem; 
    filter: drop-shadow(0 25px 25px rgba(0, 0, 0, 0.15)); 
 }

 .pokemonImageGlow {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    opacity: 0.3; 
    filter: blur(40px); 
 }

.pokemonInfoContainer {
    padding: 0.75rem; 
}

 .pokemonInfoTextContainer {
    display: flex; 
    margin-bottom: 0.25rem; 
    justify-content: space-between; 
    align-items: center; 
 }

 .pokemonInfotext {
    color: rgb(2, 255, 255);
    font-size: 0.75rem;
    line-height: 1rem; 
 }

 .pokemonName {
    margin-bottom: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #ffffff; 
    text-transform: capitalize; 
 }

 .pokemonCardTypesContainer {
    display: flex; 
    margin-bottom: 0.5rem; 
    gap: 0.25rem; 
 }

 .pokemonTypesBadge {
    overflow: hidden; 
    position: relative; 
    padding-top: 0.25rem;
    padding-bottom: 0.25rem; 
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
    border-radius: 9999px; 
    font-size: 0.75rem;
    line-height: 1rem; 
    color: #ffffff; 
    text-transform: capitalize; 
    /* filter: blur(4px);  */
 }

 .pokemonTypesText {
    position: relative; 
    z-index: 10; 
 }